<div class="mat-elevation-z8">
  <div class="button-container">
    <div><h1>Versichertendaten</h1></div>
    <span class="spacer"></span>
    <button mat-flat-button (click)="downloadCsv()" class="download-button" color="primary">Tabelle herunterladen</button>
  </div>
  <br>
  <table mat-table [dataSource]="dataSource">

      <!-- Versichertennummer Column -->
      <ng-container matColumnDef="versichertennummer">
        <th mat-header-cell *matHeaderCellDef id="header"> Versichertennummer </th>
        <td mat-cell *matCellDef="let element"> {{element.versichertennummer}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef id="header"> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <!-- Geburtsdatum Column -->
      <ng-container matColumnDef="geburtsdatum">
        <th mat-header-cell *matHeaderCellDef id="header"> Geburtsdatum </th>
        <td mat-cell *matCellDef="let element"> {{element.geburtsdatum}} </td>
      </ng-container>
    
      <!-- Adresse Column -->
      <ng-container matColumnDef="adresse">
        <th mat-header-cell *matHeaderCellDef id="header"> Adresse </th>
        <td mat-cell *matCellDef="let element"> {{element.adresse}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="totalItems"
                [pageSize]="pageSize"
                [pageIndex]="pageIndex"
                [pageSizeOptions]="pageSizeOptions"
                (page)="onPageChange($event)">
  </mat-paginator>
  <br>
</div>

