<div class="mat-elevation-z8">
    <div class="button-container">
        <div><h1>Schadensfälle</h1></div>
        <span class="spacer"></span>
        <button mat-flat-button (click)="downloadCsv()" class="download-button" color="primary">Tabelle herunterladen</button>
    </div>
    <br>
    <table mat-table [dataSource]="dataSource">
  
        <!-- Schadensnummer Column -->
        <ng-container matColumnDef="schadensnummer">
          <th mat-header-cell *matHeaderCellDef id="header"> Schadensnummer </th>
          <td mat-cell *matCellDef="let element"> {{element.schadensnummer}} </td>
        </ng-container>

        <!-- Vertragsnummer Column -->
        <ng-container matColumnDef="vertragsnummer">
            <th mat-header-cell *matHeaderCellDef id="header"> Vertragsnummer </th>
            <td mat-cell *matCellDef="let element"> {{element.vertragsnummer}} </td>
          </ng-container>
      
        <!-- Datum Column -->
        <ng-container matColumnDef="datum">
          <th mat-header-cell *matHeaderCellDef id="header"> Datum </th>
          <td mat-cell *matCellDef="let element"> {{element.datum}} </td>
        </ng-container>
      
        <!-- Schadenstyp Column -->
        <ng-container matColumnDef="schadenstyp">
          <th mat-header-cell *matHeaderCellDef id="header"> Schadenstyp </th>
          <td mat-cell *matCellDef="let element"> {{element.schadenstyp}} </td>
        </ng-container>
      
        <!-- Schadenhoehe Column -->
        <ng-container matColumnDef="schadenhoehe">
          <th mat-header-cell *matHeaderCellDef id="header"> Schadenhöhe </th>
          <td mat-cell *matCellDef="let element"> {{element.schadenhoehe}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    <mat-paginator [length]="totalItems"
                   [pageSize]="pageSize"
                   [pageIndex]="pageIndex"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="onPageChange($event)">
    </mat-paginator>
    <br>
  </div>
  
  