<div class="mat-elevation-z8">
  <div class="button-container">
    <div><h1>Versicherungsverträge</h1></div>
    <span class="spacer"></span>
    <button mat-flat-button (click)="downloadCsv()" class="download-button" color="primary">Tabelle herunterladen</button>
  </div>
  <br>
  <table mat-table [dataSource]="dataSource">

      <!-- Vertragsnummer Column -->
      <ng-container matColumnDef="vertragsnummer">
        <th mat-header-cell *matHeaderCellDef id="header"> Vertragsnummer </th>
        <td mat-cell *matCellDef="let element"> {{element.vertragsnummer}} </td>
      </ng-container>

      <!-- Versichertennummer Column -->
      <ng-container matColumnDef="versichertennummer">
        <th mat-header-cell *matHeaderCellDef id="header"> Versichertennummer </th>
        <td mat-cell *matCellDef="let element"> {{element.versichertennummer}} </td>
      </ng-container>
    
      <!-- Vertragsbeginn Column -->
      <ng-container matColumnDef="vertragsbeginn">
        <th mat-header-cell *matHeaderCellDef id="header"> Vertragsbeginn </th>
        <td mat-cell *matCellDef="let element"> {{element.vertragsbeginn}} </td>
      </ng-container>
    
      <!-- Vertragsende Column -->
      <ng-container matColumnDef="vertragsende">
        <th mat-header-cell *matHeaderCellDef id="header"> Vertragsende </th>
        <td mat-cell *matCellDef="let element"> {{element.vertragsende}} </td>
      </ng-container>
    
      <!-- Vertragsstatus Column -->
      <ng-container matColumnDef="vertragsstatus">
        <th mat-header-cell *matHeaderCellDef id="header"> Vertragsstatus </th>
        <td mat-cell *matCellDef="let element"> {{element.vertragsstatus}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  <mat-paginator [length]="totalItems"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="onPageChange($event)">
  </mat-paginator>
  <br>
</div>

